.profile {
    padding-bottom: 4rem;

    header {
        position: relative;
        height: 12rem;
        overflow: hidden;
    }

    form {
        .wrapper {
            margin-bottom: 1.5rem;
            margin: 0 1rem 1.5rem;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
                font-size: 0.7rem;
                letter-spacing: 0.025rem;
                color: #efeff1;
                text-transform: uppercase;
                font-weight: 500;
            }

            input,
            textarea {
                font-size: 1rem;
                border: none;
                padding: 0.75rem;
                border-radius: 0.25rem;
            }

            textarea {
                min-height: 7rem;
            }
        }

        button {
            width: calc(100% - 2rem);
            border-radius: 0.25rem;
            border: none;
            background-color: dodgerblue;
            font-weight: bold;
            letter-spacing: 0.025rem;
            font-size: 1rem;
            color: #efeff1;
            padding: 0.75rem 0;
            margin: 0 1rem;
        }
    }

    .overlay {
        background: linear-gradient(
            0deg,
            rgba(15, 15, 17, 1) 0%,
            rgba(15, 15, 17, 0.8) 25%,
            rgba(255, 255, 255, 0) 100%
        );
        width: 100%;
        height: 12rem;
        position: absolute;
        bottom: 0;
    }

    .profile-banner {
        width: 100%;
        height: 12rem;
    }

    .profile-info {
        margin-top: -2rem;
        padding: 0 1rem 2rem;
        border-bottom: 0.0625rem solid #6e767d;

        h2 {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
            font-size: 1.25rem;

            span {
                color: #6e767d;
                font-size: 0.9375rem;
                font-weight: 400;
            }
        }

        p {
            font-size: 0.9375rem;
            letter-spacing: 0.025rem;
            line-height: 1.1875rem;
        }

        .wrapper {
            align-items: flex-end;
            margin-bottom: 0.75rem;

            a {
                margin: 0 0 0.25rem auto;
                padding: 0.5625rem 1.125rem;
                background: dodgerblue;
                color: white;
                font-size: 0.9rem;
                border-radius: 0.25rem;
            }
        }

        .profile-avatar {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            border: 0.1875rem solid #0f0f11;
            z-index: 100;
        }
    }

    .profile-extra {
        overflow-x: scroll;
        margin: 1rem;

        h2 {
            position: sticky;
            margin: 1rem 0;
            left: 0;
        }

        & > ul {
            display: flex;
            width: fit-content;
            gap: 2rem 1rem;

            & > li {
                width: 8rem;

                img {
                    height: 14rem;
                    width: 100%;
                }
            }
        }
    }
}

.input-banner {
    position: relative;
    height: 12rem;
    overflow: hidden;

    .overlay {
        background: linear-gradient(
            0deg,
            rgba(15, 15, 17, 1) 0%,
            rgba(15, 15, 17, 0.8) 25%,
            rgba(255, 255, 255, 0) 100%
        );
        width: 100%;
        height: 12rem;
        position: absolute;
        bottom: 0;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        z-index: 10;
        border-radius: 50%;
        padding: 0.5rem;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}

.input-avatar {
    transform: translateY(-2rem);
    margin: 0 1rem;
    overflow: visible;
    overflow: hidden;
    width: 5.5rem;
    height: 5.5rem;
    position: relative;

    img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        border: 0.1875rem solid #0f0f11;
        z-index: 100;
    }

    .overlay {
        width: 5.5rem;
        height: 5.5rem;
        background-color: #0f0f11;
        border-radius: 50%;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        z-index: 10;
        border-radius: 50%;
        padding: 0.5rem;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}
