{% extends "layouts/layout.njk" %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block content %}
    <section>
        <h2>{{profile.username}}</h2>
        <p>{{profile.email}}</p>
    </section>
{% endblock %}