{% extends "layouts/layout.njk" %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block content %}
    <section>
        <h2>{{profile.username}}</h2>
        <p>{{profile.email}}</p>
        <p>Avatar</p>
        <img src='/uploads/{{profile.avatar}}'>
        <p>Banner</p>
        <img src='/uploads/{{profile.banner}}'>
    </section>
{% endblock %}