{% extends "layouts/layout.njk" %}
{% block title %}
    {{ user.username }} / update profile
{% endblock %}
{% block content %}
    <section class='profile update-profile'>
        <form action='#' method='post' enctype='multipart/form-data'>
            <div class='input-banner'>
                <span class="material-icons-outlined">add</span>
                <img class='profile-banner' src='/uploads/{{ user.banner }}'/>
                <div class='overlay'></div>
                <label for='banner'></label>
                <input id='banner' type='file' name='banner' accept='image/*' required/>
            </div>
            <div class='input-avatar'>
                <span class="material-icons-outlined">add</span>
                <img class='profile-avatar' src='/uploads/{{ user.avatar }}'/>
                <div class='overlay'></div>
                <label for='avatar'></label>
                <input id='avatar' type='file' name='avatar' accept='image/*' required/>
            </div>
            <div class='wrapper'>
                <label for='displayname'>Displayname
                    <span class='char-count'></span>
                </label>
                <input id='displayname' type='text' name='displayname' required maxlength='20' value='{{ user.displayname }}'/>
            </div>
            <div class='wrapper'>
                <label for='description'>Description
                    <span class='char-count'></span>
                </label>
                {% if user.description %}
                    <textarea id='description' type='text' name='description' required maxlength='150'>{{ user.description }}</textarea>
                {% else %}
                    <textarea id='description' type='text' name='description' required maxlength='150' placeholder='Your description...'></textarea>
                {% endif %}
            </div>
            <button type='submit'>Save profile</button>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    <script src='/js/showUserInput.js'></script>
{% endblock %}