{% extends "layouts/layout.njk" %}
{% block title %}
    {{ user.username }} / update profile
{% endblock %}
{% block content %}
    <section>
        <form action='#' method='post' enctype='multipart/form-data'>
            <label for='avatar'>Avatar</label>
            <input id='avatar' type='file' name='avatar' accept='image/*' required>

            <label for='banner'>Banner</label>
            <input id='banner' type='file' name='banner' accept='image/*' required>

            <button type='submit'>Save profile</button>
        </form>
    </section>

{% endblock %}