{% extends "layouts/layout.njk" %}
{% block title %}
Home
{% endblock %}
{% block content %}
  <div class="home">
    <h1>Welcome {{ user.username }}!</h1>
    <article>
      <a href="/chat">Start a chat</a>
      <a href="/profiles">Check profile</a>
      <a href="/filter">Find a match</a>
    </article>
  </div>
{% endblock %}