{% extends "layouts/layout.njk" %}
{% block title %}
  Register
{% endblock %}
{% block content %}
    <form action='/register' method='post'>
        <label for='username'>Username</label>
        <input id='username' type='text' name='username' required maxlength='20' placeholder='Your username...'>

        <label for='password'>Password</label>
        <input id='password' type='password' name='password' required maxlength='25' placeholder='Your password...'>

        <label for='email'>Email</label>
        <input id='email' type='email' name='email' required maxlength='35' placeholder='Your email...'>

        <button type='submit'>Register</button>
    </form>
{% endblock %}