// Bottom navigation
.bottom-nav {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    background: #00000026;
    backdrop-filter: blur(10px);

    nav {
        width: 100%;

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #efeff1;
                    font-size: 0.85rem;

                    span {
                        margin-bottom: 0.25rem;
                        font-size: 1.5rem;
                    }
                }
            }
            .currentPage {
                a {
                    color: dodgerblue;
                }
            }
        }
    }
}
