.games {
    h2 {
        width: 90%;
        margin: 10px auto 20px;
    }

    a {
        margin: auto;
        width: 90%;
        height: 185px;
        overflow: hidden;
        display: block;
    }

    a img {
        width: 100%;
        height: auto;
    }

    span {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

    span p {
        position: absolute;
        width: 90%;
        z-index: 2;
        top: 40%;
        font-size: 23px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 2px 3px 3px #000000;
    }
}

.filter {
    height: 700px;
    
    form {
        width: 90%;
        margin: auto;

        input {
            opacity: 0;
        }

        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
        }

        fieldset>span {
            color: red;
            font-style: italic;
        }

        fieldset legend {
            margin-bottom: 15px;
        }

        fieldset label span {
            display: block;
            border: 1px solid dodgerblue;
            border-radius: 10px;
            padding: 10px;
        }

        fieldset label input:checked + span {
            background-color: dodgerblue;
            color: black;
        }

        fieldset label .warning+span {
          border: 1px solid red;
          transition-delay: 350ms;
          transition-duration: 350ms;
        }

        input[type="submit"] {
            opacity: 1;
            margin: auto;
            padding: 10px 40px;
            border: none;
            border-radius: 3px;
            font-size: 19px;
        }
    }
}

.matches h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}
