.register, .login {
    margin-top: -3rem;

    .information {
        height: 100vh;

        h1 {
            font-size: 2rem;
            margin: 5.75rem 2rem 1.5rem;
        }

        form {
            margin: 0 0 2rem 0;
            position: relative;
            height: 30rem;

            h2 {
                font-size: 1rem;
            }
            
            .next-step {
                width: calc(100% - 4rem);
                display: block;
                text-align: center;
                border-radius: 0.25rem;
                border: none;
                background-color: dodgerblue;
                font-weight: bold;
                letter-spacing: 0.025rem;
                font-size: 1rem;
                color: #EFEFF1;
                padding: 0.75rem 0;
                margin: 0 2rem 2rem;
            }

            section {
                max-width: 22.5rem;
            }

            #general-information {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            #visual-information {
                position: absolute;
                top: 0;
                left: 30rem;
                width: 100%;
            }

            #onboard-information {
                overflow-x: scroll;
                position: absolute;
                top: 0;
                left: 60rem;

                button {
                    position: sticky;
                    left: 2rem;
                }

                ul {
                    display: flex;
                    width: fit-content;
                    gap: 2rem 1rem;
                    margin: 0 0 1.5rem 2rem;
                    padding-right: 2rem;
        
                    &>li {
                        width: 12rem;
                        position: relative;


                        input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 0;
                        }
        
                        img {
                            height: 21rem;
                            width: 100%;
                        }

                        h2 {
                            margin-top: 0.5rem;
                        }
                    }
                }    
            }

            .wrapper {
                margin: 0 2rem 1.5rem;
                flex-direction: column;

                label {
                    margin-bottom: 0.5rem;
                    font-size: 0.7rem;
                    letter-spacing: 0.025rem;
                    color: #EFEFF1;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                input {
                    font-size: 1rem;
                    border: none;
                    padding: 0.75rem;
                    border-radius: 0.25rem;
                }
            }

            button {
                width: calc(100% - 4rem);
                border-radius: 0.25rem;
                border: none;
                background-color: dodgerblue;
                font-weight: bold;
                letter-spacing: 0.025rem;
                font-size: 1rem;
                color: #EFEFF1;
                padding: 0.75rem 0;
                margin: 0 2rem 2rem;
            }
        }
    }

    a {
        margin: 0 2rem;
        color: dodgerblue;
    }
}