{% if user %}
    <footer class="bottom-nav">
        <nav>
            <ul>
                <li>
                    <a href="/like">
                        <span class="material-icons">thumb_up_alt</span>Like</a>
                </li>
                <li>
                    <a href="/">
                        <span class="material-icons">question_answer</span>Chatten</a>
                </li>
                <li>
                    <a href="/profiles">
                        <span class="material-icons">person</span>Profiel</a>
                </li>
            </ul>
        </nav>
    </footer>
{% endif %}
