{% if user %}
    <footer class="bottom-nav">
        <nav>
            <ul>
                <li><a href="/filter"><span class="material-icons">thumb_up_alt</span>Like</a></li>
                <li><a href="/chat"><span class="material-icons">question_answer</span>Chat</a></li>
                <li><a href="/profiles"><span class="material-icons">person</span>Profile</a></li>
            </ul>
        </nav>
    </footer>
{% endif %}