{% if user %}
    <header class="header">
        <p>{{ user.username }}</p>
        <a href='/profiles/{{ user._id }}'>
            <i class="fa fa-gear"></i>
        </a>
    </header>
{% endif %}