{% if user %}
    <header class="header">
        <p>{{ user.username }}</p>
        <a href='/profiles/{{ user._id }}'>
            <span class="material-icons">settings</span>
        </a>
    </header>
{% endif %}