/* Imports */
@import url("./_fonts.scss");
.chatList form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatList form button {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: none;
  border-bottom: solid black 1px;
}

.chatSelf {
  margin-top: 3.5em;
}

.chatSelf .chatHeader {
  background-color: grey;
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.3em;
}

.chatSelf .chatHeader a {
  text-decoration: none;
  color: white;
}

.chatSelf .chatHeader div {
  margin-left: 1em;
}

.chatSelf #form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chatSelf .hidden {
  display: none;
}

.chatSelf #input {
  border: none;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.chatSelf #input:focus {
  outline: none;
}

.chatSelf #form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.chatSelf #messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
}

.chatSelf #messages > li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: grey;
  color: white;
  border-radius: 10px;
  max-width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  word-break: break-all;
}

.chatSelf .messageSelf {
  margin-left: auto;
  background-color: #343480 !important;
}

.profile {
  padding-bottom: 4rem;
}

.profile .profile-banner {
  width: 100%;
  height: 8rem;
}

.profile .profile-info {
  margin-top: -2rem;
  padding: 0 1rem 2rem;
  border-bottom: 0.0625rem solid #6E767D;
}

.profile .profile-info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.profile .profile-info h2 span {
  color: #6E767D;
  font-size: 0.9375rem;
  font-weight: 400;
}

.profile .profile-info p {
  font-size: 0.9375rem;
  letter-spacing: 0.025rem;
  line-height: 1.1875rem;
}

.profile .profile-info .wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0.75rem;
}

.profile .profile-info .wrapper a {
  margin: 0 0 0.25rem auto;
  padding: 0.5625rem 1.125rem;
  background: dodgerblue;
  color: white;
  font-size: 0.9rem;
  border-radius: 2rem;
}

.profile .profile-info .profile-avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 0.1875rem solid #0F0F11;
}

.profile .profile-extra {
  overflow-x: scroll;
  margin: 1rem;
}

.profile .profile-extra h2 {
  position: -webkit-sticky;
  position: sticky;
  margin: 1rem 0;
  left: 0;
}

.profile .profile-extra > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem 1rem;
}

.profile .profile-extra > ul > li {
  width: 8rem;
}

.profile .profile-extra > ul > li img {
  height: 14rem;
  width: 100%;
}

.register .information, .login .information {
  height: 100vh;
}

.register .information h1, .login .information h1 {
  font-size: 2rem;
  margin: 5.75rem 2rem 1.5rem;
}

.register .information form, .login .information form {
  margin: 0 2rem 1rem;
}

.register .information form .wrapper, .login .information form .wrapper {
  margin-bottom: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register .information form .wrapper label, .login .information form .wrapper label {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  letter-spacing: 0.025rem;
  color: #EFEFF1;
  text-transform: uppercase;
  font-weight: 500;
}

.register .information form .wrapper input, .login .information form .wrapper input {
  font-size: 1rem;
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.register .information form button, .login .information form button {
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  background-color: dodgerblue;
  font-weight: bold;
  letter-spacing: 0.025rem;
  font-size: 1rem;
  color: #EFEFF1;
  padding: 0.75rem 0;
}

.register a, .login a {
  margin: 0 2rem;
  color: dodgerblue;
}

.onboarding {
  max-height: 100vh;
  height: 100vh;
}

.onboarding {
  margin-left: 1rem;
}

.onboarding h1 {
  position: -webkit-sticky;
  position: sticky;
  margin: 1rem 0;
}

.onboarding form {
  overflow-x: scroll;
}

.onboarding form > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem 1rem;
  padding-right: 1rem;
}

.onboarding form > ul > li {
  width: 12rem;
}

.onboarding form > ul > li img {
  height: 21rem;
  width: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
label,
textarea {
  font-family: "Graphik", "segoe ui", tahoma, sans-serif;
}

body {
  background-color: #0F0F11;
  color: #EFEFF1;
}

input, textarea {
  background-color: #464649;
  color: #C1C1C1;
}

input::-webkit-input-placeholder, input::focus, textarea::-webkit-input-placeholder, textarea::focus {
  color: #C1C1C1;
  background-color: #464649;
  font-weight: 500;
}

input:-ms-input-placeholder, input::focus, textarea:-ms-input-placeholder, textarea::focus {
  color: #C1C1C1;
  background-color: #464649;
  font-weight: 500;
}

input::-ms-input-placeholder, input::focus, textarea::-ms-input-placeholder, textarea::focus {
  color: #C1C1C1;
  background-color: #464649;
  font-weight: 500;
}

input::placeholder, input::focus, textarea::placeholder, textarea::focus {
  color: #C1C1C1;
  background-color: #464649;
  font-weight: 500;
}

p {
  letter-spacing: 0.0125em;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  background-color: #0F0F11;
}

.header a {
  color: #EFEFF1;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F0F11;
}

.bottom-nav nav {
  width: 100%;
}

.bottom-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bottom-nav nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EFEFF1;
  font-size: 0.85rem;
}

.bottom-nav nav ul li a span {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */