/* Imports */
@import url("./_fonts.scss");
.chatList form {
  display: flex;
  flex-direction: column; }
  .chatList form button {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #0F0F11;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em; }
    .chatList form button .imgDiv {
      height: 60px;
      width: 60px;
      clip-path: circle(50% at 50% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-right: 1em; }
      .chatList form button .imgDiv img {
        height: 60px;
        min-width: 60px; }
    .chatList form button p {
      font-size: 1.5em; }

.chatSelf {
  margin-top: 3.5em; }
  .chatSelf .chatHeader {
    background-color: grey;
    position: fixed;
    top: 3em;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    transition: .5s; }
    .chatSelf .chatHeader a {
      text-decoration: none;
      color: white; }
    .chatSelf .chatHeader div {
      margin-left: 1em; }
  .chatSelf .chatHeaderUpwards {
    top: 0 !important; }
  .chatSelf #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 4em;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px); }
  .chatSelf #input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem; }
  .chatSelf #input:focus {
    outline: none; }
  .chatSelf #form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff; }
  .chatSelf #messages {
    list-style-type: none;
    margin: 0;
    margin-bottom: 3em;
    padding: 0 1em 0 1em; }
  .chatSelf #messages > li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.3em;
    width: fit-content;
    background-color: grey;
    color: white;
    border-radius: 10px;
    max-width: 60%;
    height: fit-content;
    display: flex;
    word-wrap: break-word;
    word-break: break-all; }
  .chatSelf .messageSelf {
    margin-left: auto;
    background-color: #343480 !important; }

.profile {
  padding-bottom: 4rem; }
  .profile header,
  .profile .input-banner {
    position: relative;
    height: 12rem; }
  .profile .input-banner span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
    padding: 0.5rem; }
  .profile .input-banner label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .profile .input-banner input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0; }
  .profile .input-avatar {
    transform: translateY(-2rem);
    margin: 0 1rem;
    overflow: visible;
    overflow: hidden;
    width: 5.5rem;
    height: 5.5rem; }
    .profile .input-avatar img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      border: 0.1875rem solid #0f0f11;
      z-index: 100; }
    .profile .input-avatar .overlay {
      width: 5.5rem;
      height: 5.5rem;
      background-color: #0f0f11;
      border-radius: 50%;
      opacity: 0.3; }
    .profile .input-avatar span {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      transform: translate(-50%, -50%);
      z-index: 10;
      border-radius: 50%;
      padding: 0.5rem; }
    .profile .input-avatar label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .profile .input-avatar input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0; }
  .profile form .wrapper {
    margin-bottom: 1.5rem;
    margin: 0 1rem 1.5rem;
    flex-direction: column; }
    .profile form .wrapper label {
      margin-bottom: 0.5rem;
      font-size: 0.7rem;
      letter-spacing: 0.025rem;
      color: #efeff1;
      text-transform: uppercase;
      font-weight: 500; }
    .profile form .wrapper input, .profile form .wrapper textarea {
      font-size: 1rem;
      border: none;
      padding: 0.75rem;
      border-radius: 0.25rem; }
  .profile form button {
    width: calc(100% - 2rem);
    border-radius: 0.25rem;
    border: none;
    background-color: dodgerblue;
    font-weight: bold;
    letter-spacing: 0.025rem;
    font-size: 1rem;
    color: #EFEFF1;
    padding: 0.75rem 0;
    margin: 0 1rem; }
  .profile .overlay {
    background: linear-gradient(0deg, #0f0f11 0%, rgba(15, 15, 17, 0.8) 25%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 12rem;
    position: absolute;
    bottom: 0; }
  .profile .profile-banner {
    width: 100%;
    height: 12rem; }
  .profile .profile-info {
    margin-top: -2rem;
    padding: 0 1rem 2rem;
    border-bottom: 0.0625rem solid #6e767d; }
    .profile .profile-info h2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      font-size: 1.25rem; }
      .profile .profile-info h2 span {
        color: #6e767d;
        font-size: 0.9375rem;
        font-weight: 400; }
    .profile .profile-info p {
      font-size: 0.9375rem;
      letter-spacing: 0.025rem;
      line-height: 1.1875rem; }
    .profile .profile-info .wrapper {
      align-items: flex-end;
      margin-bottom: 0.75rem; }
      .profile .profile-info .wrapper a {
        margin: 0 0 0.25rem auto;
        padding: 0.5625rem 1.125rem;
        background: dodgerblue;
        color: white;
        font-size: 0.9rem;
        border-radius: 0.25rem; }
    .profile .profile-info .profile-avatar {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      border: 0.1875rem solid #0f0f11;
      z-index: 100; }
  .profile .profile-extra {
    overflow-x: scroll;
    margin: 1rem; }
    .profile .profile-extra h2 {
      position: sticky;
      margin: 1rem 0;
      left: 0; }
    .profile .profile-extra > ul {
      display: flex;
      width: fit-content;
      gap: 2rem 1rem; }
      .profile .profile-extra > ul > li {
        width: 8rem; }
        .profile .profile-extra > ul > li img {
          height: 14rem;
          width: 100%; }

.register .information, .login .information {
  height: 100vh; }
  .register .information h1, .login .information h1 {
    font-size: 2rem;
    margin: 5.75rem 2rem 1.5rem; }
  .register .information form, .login .information form {
    margin: 0 2rem 1rem; }
    .register .information form .wrapper, .login .information form .wrapper {
      margin-bottom: 1.5rem;
      flex-direction: column; }
      .register .information form .wrapper label, .login .information form .wrapper label {
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
        letter-spacing: 0.025rem;
        color: #EFEFF1;
        text-transform: uppercase;
        font-weight: 500; }
      .register .information form .wrapper input, .login .information form .wrapper input {
        font-size: 1rem;
        border: none;
        padding: 0.75rem;
        border-radius: 0.25rem; }
    .register .information form button, .login .information form button {
      width: 100%;
      border-radius: 0.25rem;
      border: none;
      background-color: dodgerblue;
      font-weight: bold;
      letter-spacing: 0.025rem;
      font-size: 1rem;
      color: #EFEFF1;
      padding: 0.75rem 0; }

.register a, .login a {
  margin: 0 2rem;
  color: dodgerblue; }

.onboarding {
  max-height: 100vh;
  height: 100vh; }

.onboarding {
  margin-left: 1rem; }
  .onboarding h1 {
    position: sticky;
    margin: 1rem 0; }
  .onboarding form {
    overflow-x: scroll; }
    .onboarding form > ul {
      display: flex;
      width: fit-content;
      gap: 2rem 1rem;
      padding-right: 1rem; }
      .onboarding form > ul > li {
        width: 12rem; }
        .onboarding form > ul > li img {
          height: 21rem;
          width: 100%; }

.hidden {
  display: none !important; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
label,
textarea {
  font-family: "Graphik", "segoe ui", tahoma, sans-serif; }

body {
  background-color: #0F0F11;
  color: #EFEFF1; }

.transition {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.bodyPaddingTop {
  margin-top: 3em; }

input, textarea {
  background-color: #464649;
  color: #C1C1C1; }
  input::placeholder, input::focus, textarea::placeholder, textarea::focus {
    color: #C1C1C1;
    background-color: #464649;
    font-weight: 500; }

p {
  letter-spacing: 0.0125em; }

img {
  object-fit: cover; }

.wrapper {
  display: flex; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  background-color: #0F0F11; }
  .header a {
    font-size: 1.5em;
    color: #EFEFF1; }
  .header i {
    font-size: 1.5em; }

.headerUpwards {
  top: -3em; }

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: #0F0F11; }
  .bottom-nav nav {
    width: 100%; }
    .bottom-nav nav ul {
      display: flex;
      justify-content: space-evenly; }
      .bottom-nav nav ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #EFEFF1;
        font-size: 0.85rem; }
        .bottom-nav nav ul li a span {
          margin-bottom: 0.25rem;
          font-size: 1.5rem; }
      .bottom-nav nav ul .currentPage a {
        color: dodgerblue; }
