{% extends "layouts/layout.njk" %}
{% block title %} Filter games {% endblock %}
{% block content %}
<div class="filter">
    <a href="/fortnite">Fortnite</a>
    <a href="/rocket-league">Rocket League</a>
    <a href="/nba-2k21">NBA 2k21</a>
    <a href="/minecraft">Minecraft</a>
    <a href="/cold-war">Call of Duty: Cold War</a>
</div>
{% endblock %}