{% extends "layouts/layout.njk" %}
{% block title %}Filter game{% endblock %}
{% block content %}
    <div class="filter">
        <form action="/filter/{% block chosenGame %}{{ chosenGame }}{% endblock %}" method="post">
            <input type="text" name="games" value={{ chosenGame }}>
            <fieldset>
                <legend>What playstyle should your match have in {{ chosenGame }}</legend>
                <label>
                    <input type="radio" name="playstyle" value="competitive" required>
                    Competitive
                </label>
                <label>
                    <input type="radio" name="playstyle" value="casual" required>
                    Casual
                </label>
            </fieldset>
            <fieldset>
                <legend>How often should your match play {{ chosenGame }}</legend>
                <label>
                    <input type="radio" name="playtime" value="5plushours" required>
                    5+ hours per day
                </label>
                <label>
                    <input type="radio" name="playtime" value="5minushours" required>
                    -5 hours per day
                </label>
                <label>
                    <input type="radio" name="playtime" value="fewtimes" required>
                    A few times per week
                </label>
                <label>
                    <input type="radio" name="playtime" value="onetime" required>
                    Once per week
                </label>
            </fieldset>
            <input type="submit" value="Match">
        </form>
    </div>
{% endblock %}