{% extends "layouts/layout.njk" %} {% block title %} Filter games {% endblock %} {% block content %}
<div class="filter">
    <form action="/filter/{{title}}" method="post">
        <fieldset>
            <legend>What is your playstyle in {{ title }}</legend>
            <label>
                <input type="radio" name="playstyle" value="Competitive">
                Competitive
            </label>
            <label>
                <input type="radio" name="playstyle" value="Casual">
                Casual
            </label>
        </fieldset>
        <fieldset>
            <legend>How often do you play {{ title }}</legend>
            <label>
                <input type="radio" name="time" value="5+ hours per day">
                5+ hours per day
            </label>
            <label>
                <input type="radio" name="time" value="-5 hours per day">
                -5 hours per day
            </label>
            <label>
                <input type="radio" name="time" value="A few times per week">
                A few times per week
            </label>
            <label>
                <input type="radio" name="time" value="Once per week">
                Once per week
            </label>
        </fieldset>
        <input type="submit" value="Match">
    </form>
</div>
{% endblock %}