{% extends "layouts/layout.njk" %}
{% block title %}Filter {% endblock %}
{% block content %}
    <div class="matches">
        <h2>{{ header }}</h2>
        {% for user in filteredProfiles %}
            <section>
                <article>
                    <p>{{ user.username }}</p>
                    <p><strong>Top game:</strong> {{ chosenGame }}</p>
                    <p><strong>Playstyle:</strong> {{ user.playstyle }}</p>
                    <p><strong>Playtime:</strong> {{ user.playtime }}</p>
                </article>
                <a href="#" class="like">Like</a>
            </section>
        {% endfor %}
    </div>
{% endblock %}