{% extends "layouts/layout.njk" %}
{% block title %}Filter {% endblock %}
{% block content %}
    <div class="matches">
        {% for user in filteredUsers %}
            <article>
                <p>Username: {{ user.username }}</p>
                <p>Displayname: {{ user.displayname }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Top game: {{ user.topGame }}</p>
                <p>Playstyle: {{ user.playstyle }}</p>
                <p>Time: {{ user.time }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}