{% extends "layouts/layout.njk" %}
{% block title %}
    Chat
{% endblock %}
{% block content %}
    <div class="chatList">
        <img class="hiddenImage"/>
        {% if users.length > 0 %}
            <form action="chat/chatSelf" method="post">
                {% for user in users %}
                    <button name="userOther" value={{ user.username }}>
                        <div class="imgDiv"><img class="imgSelf" src="/uploads/{{ user.avatar }}"/>
                        </div>
                        <p>{{ user.username }}</p>
                    </button>
                {% endfor %}
            </form>
        {% else %}
            <div class="geenMatches">
                <p>You don't have any matches yet</p>
                <a href="/filter">To like</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/chat/chatList.js'></script>
{% endblock %}