<!doctype html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Milan">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="/css/style.css" rel="stylesheet"> 
        <!-- Material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    </head>
    <body
        class="bodyPaddingTop">
        <!-- Content -->
        {% include "partials/header.njk"%}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "partials/footer.njk"%}
    </body>
    <script src='/js/partials/header.js'></script>
    <script src='/js/partials/footer.js'></script>
    {% block scripts %}{% endblock %}
</html>