{% extends "layouts/layout.njk" %}
{% block title %}
  Chat
{% endblock %}
{% block content %}
  <div class="chatSelf">
    <div class="chatHeader">
      <a href="/chat/{{ userId }}">&#8592;</a>
      <div>{{ userOther }}</div>
    </div>
    <ul id="messages">
      {% for message in messages %}
        <li class={{ "messageSelf" if message.userSender === userSelf }}>{{ message.message }}</li>
      {% endfor %}
    </ul>
    <form id="form" method="post" action="chatMessageReceived/{{ userId }}">
      <input id="userSelf" class="hidden" name="userSelf" value="{{ userSelf }}"/>
      <input id="userOther" class="hidden" name="userOther" value="{{ userOther }}"/>
      <input id="input" name="message" autocomplete="off" required/>
      <button>Send</button>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="/socket.io/socket.io.js"></script>
  <script src='/js/chat/chatSelf.js'>}</script>{% endblock %}