{% extends "layouts/layout.njk" %}
{% block title %}
  Chat
{% endblock %}
{% block content %}
  <div class="chatSelf">
    <div class="chatHeader">
      <a href="/chat">&#8592;</a>
      <div>{{ userOther }}</div>
    </div>
    <ul class="chatMessages">
      {% for message in messages %}
        <li class={{ "messageSelf" if message.userSender === userSelf }}>{{ message.message }}</li>
      {% endfor %}
    </ul>
    <form class="chatForm" method="post" action="chatMessageReceived">
      <input class="userSelf hidden" name="userSelf" value="{{ userSelf }}"/>
      <input class="userOther hidden" name="userOther" value="{{ userOther }}"/>
      <input class="chatInput" name="message" autocomplete="off" required/>
      <button>Send</button>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="/socket.io/socket.io.js"></script>
  <script src='/js/chat/chatSelf.js'>}</script>{% endblock %}